#map {
    border-radius: 25px;
    margin-left: 180px;
}

#logo {
    position:relative;
    width: 225px;
    height: 150px;
    display: block;
    margin-left: 38%;
    margin-right: 62%;

}

body {
    background-color: rgb(242, 242, 242);
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
p {
    font-size: 0.85em;
}
.groups-sidebar {
    flex-direction: column;
    float: right;
    margin-top: -125px;
    margin-right: 75px;
    display: flex;
    font-size: small;
    text-align: center;
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
    border-color: maroon;

}

.groups-title {
    color: maroon;
}

#group-titles {
    margin-right: 35px;
    list-style: none;
    text-align: center;
    
}

#group-item {
    font-size: x-small;
}

.groupA {
    fill: rgb(255, 147, 165);
    color: rgb(255, 147, 165);
}

.groupA:hover {
    cursor: pointer;
    fill: yellow;
}

.groupB {
    fill: green;
    color: green;
}

.groupB:hover {
    cursor: pointer;
    fill: yellow;
}

.groupC {
    cursor: pointer;
    fill: purple;
    color: purple;
}

.groupC:hover {
    cursor: pointer;
    fill: yellow;
}

.groupD {
    cursor: pointer;
    fill: navy;
    color: navy;
}

.groupD:hover {
    cursor: pointer;
    fill: yellow;
}

.groupE {
    cursor: pointer;
    fill: teal;
    color: teal;
}

.groupE:hover {
    cursor: pointer;
    fill: yellow;
}

.groupF {
    cursor: pointer;
    fill: orange;
    color: orange;
}

.groupF:hover {
    cursor: pointer;
    fill: yellow;
}

.groupG {
    cursor: pointer;
    fill: crimson;
    color: crimson;
}

.groupG:hover {
    cursor: pointer;
    fill: yellow;
}

.groupH {
    cursor: pointer;
    fill:maroon;
    color: maroon;
}

.groupH:hover {
    cursor: pointer;
    fill: yellow;
}

.outerModal {
    z-index: 1;
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    color: maroon;
}

.innerModal {
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    border: 5px solid maroon;
    background-color: whitesmoke;

}

.close {
    color: red;
    float: right;
    font-size: 14px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.instructions {
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 5px solid maroon;
    background-color: whitesmoke;
    box-shadow: 3px 3px 10px rgba(0 0 0 / 0.5);
}

.player {
    float: right;
    flex-direction: column;
    display: flex;
    flex-flow: column;
    margin-top: -260px;
    margin-right: 220px;
}

#playerPic {
    width:  150px;
    height: 200px;
}

.teamFlag {
    width: 150px;
    height: 100px;
    position: absolute;
    margin-left: 265px;
    padding: 10px;
}
#teampage {
    padding: 10px;
}

#teamName {
    text-align: center;
}

#hoverName {
        position: absolute;
        display: block;
        width: 120px;
        background-color: maroon;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        z-index: 1;
        margin-left: 40%;
        margin-right: 60%;
}

#instModal {
    color: maroon;
    z-index: 1;
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
#innerInstModal {
    margin: 15% auto;
    padding: 20px;
    width: 80%;
}

.instClose {
    color: red;
    float: right;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 8px;

}

.instClose:hover,
.instClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.flagAndSched {
    margin-left: 225px;
}

.instOpen {
    float: left;
    margin-left: 20px;
    color: maroon;
    font-weight: bold;
    
}
.instOpen:hover,
.instOpen:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.github .githubLogo {
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 5px;
}
.linkedin .linkedinLogo {
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 5px;
}